<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="close()" color="light">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen scrollY="false">
    <swiper-container swiper style= "height: 100%;" [sliderOptions] #swiper [config]="swiperConfig" (slideChange)="onSlideChange()">
      <swiper-slide>
        <div class="swiper-zoom-container">
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-content>
</ion-app>